build/*
coverage/*
**/.dart_tool/*
**/.idea/*
**/windows/*
.vscode/*

examples/*/build/*
examples/*/android/*
examples/*/.metadata
examples/*/*.iml
examples/*/.packages
examples/*/analysis_options.yaml
examples/*/test/
examples/*/README.md
